<table class="table table-striped">
    <thead>
        <tr>
            <th>{:__('基础信息')}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>用户id:{$row.id}</td>
            <td>用户昵称:{$row.nickname}</td>
            <td>手机号码:{$row.mobile}</td>
        </tr>
        <tr>
            <td>当前余额:{$row.money}（新用户奖励：{$row.new_user_award}）</td>
            <td>已领邀请:{$row.user_award}</td>
            <td>后台修改:{$row.admin_amount}</td>
        </tr>
        <tr>
            <td>订单总数:{$row.balance_investment}</td>
            <td>团购奖励:{$row.group_buying_commission}</td>
            <td>团长奖励:{$row.head_of_the_reward}</td>
        </tr>
        <tr>
            <td>充值总数:{$row.total_recharge}</td>
            <td>提现总数:{$row.total_withdrawals}（待审核：{$row.waiting_withdraw}）</td>
            <td>佣金总额:{$row.total_commission}</td>
        </tr>
        <tr>
            <td>一级佣金:{$row.first_commission}</td>
            <td>二级佣金:{$row.second_commission}</td>
            <td>三级佣金:{$row.third_commission}</td>
        </tr>
        <tr>
            <td>邀请人数:{$row.invite_number}</td>
            <td>中奖次数:{$row.winning_number}</td>
            <td>兑换现金:{$row.exchangemoney}</td>
        </tr>
        <tr>
            <td>进行中的订单总额:{$row.order_money}</td>
            <td>预计释放本金:{$row.capital}</td>
            <td>预计释放利息:{$row.interest}</td>
        </tr>
    </tbody>
</table>
<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                        <!-- <a href="javascript:;" class="btn btn-success btn-add {:$auth->check('user/user_money_log/add')?'':'hide'}" title="{:__('Add')}" ><i class="fa fa-plus"></i> {:__('Add')}</a> -->
                        <!--<a href="javascript:;" class="btn btn-success btn-edit btn-disabled disabled {:$auth->check('user/user_money_log/edit')?'':'hide'}" title="{:__('Edit')}" ><i class="fa fa-pencil"></i> {:__('Edit')}</a>-->
                        <!-- <a href="javascript:;" class="btn btn-danger btn-del btn-disabled disabled {:$auth->check('user/user_money_log/del')?'':'hide'}" title="{:__('Delete')}" ><i class="fa fa-trash"></i> {:__('Delete')}</a> -->
                        

                        <!--<div class="dropdown btn-group {:$auth->check('user/user_money_log/multi')?'':'hide'}">
                            <a class="btn btn-primary btn-more dropdown-toggle btn-disabled disabled" data-toggle="dropdown"><i class="fa fa-cog"></i> {:__('More')}</a>
                            <ul class="dropdown-menu text-left" role="menu">
                                <li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=normal"><i class="fa fa-eye"></i> {:__('Set to normal')}</a></li>
                                <li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=hidden"><i class="fa fa-eye-slash"></i> {:__('Set to hidden')}</a></li>
                            </ul>
                        </div>

                        -->
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
                           data-operate-edit="{:$auth->check('user/user_money_log/edit')}"
                           data-operate-del="{:$auth->check('user/user_money_log/del')}"
                           width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
